downloaded/*
transformed/*
generated/*
downloaded_archive/*
transformed_archive/*
generated_archive/*
bin/6_sync_sphere_all-MYPROJECT.sh
.DS_Store
.idea
node_modules/*
on_market.4sphere.sorted.csv
on_market.4sphere.notebooks.sorted.csv
xmlDataCache
